# Git
.git
.github

# Dependencies
node_modules

# Build artifacts
dist
dist-ssr


# Secrets
.env*
.env.*.local
.env.local
.dev.vars*

# Wrangler
.wrangler

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
*.local

# Docker
Dockerfile
.dockerignore

# Scripts
scripts/

# Docs
*.md

# Others
.opencode


